
@*@model Infracoes.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login no Sistema</title>
    <style>
        #login-div {
            position:absolute;
            left: 40%;
            bottom: 20%;
            padding: initial;
        }
        .fiel-validation-error{
            color:red;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/vendor.min.css")" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Styles/app-css")
</head>
<body>
    <div id="login-div" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class=" panel panel-primary">
                    <div class="panel-heading text-center">
                        Entrar no Sistema de Infrações
                    </div>
                    <div class="panel-body text-center">
                        <img class="logo" alt="Logo SSP" src="@Url.Content("~/Content/img/ssp-logo-sem-descricao.png")" />
                    </div>
                    <div class="panel-body text-center form-group">
                        @using (Html.BeginForm("Autorizar", "Login", FormMethod.Post))
                        {
                            <table align="center">
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.NomeUsuario) &nbsp;
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.NomeUsuario)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>@Html.ValidationMessageFor(model => model.Senha)</td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Senha)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Senha)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>@Html.ValidationMessageFor(model => model.Senha)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label class="fiel-validation-error">@Html.DisplayFor(model => model.MessagemErroLogin)</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="submit" class="btn-primary">Entrar</button>
                                        <button type="reset" class="btn-warning">Limpar</button>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

        @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
        @Scripts.Render("~/Scripts/jquery.validate.min.js")

</body>
</html>*@


