@using Infracoes.Models.ViewModel.Dbo.Proprietarios

@model RelatorioProprietariosViewModel

<style type="text/css">
    table {
        font-size: 10pt;
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 4px;
    }

        table thead {
            background-color: #b3d9ff;
            vertical-align: text-bottom;
        }

        table tbody {
            vertical-align: text-bottom;
        }

        table.sembordas,
        table.sembordas th,
        table.sembordas tr,
        table.sembordas td {
            border: 0px;
        }
</style>

<table style="margin-bottom:30px; text-align:center; font-weight:bold; border: 0px">
    <tr>
        <td style="border: 0px !important">
            SISTEMA DE GESTÃO DE INFRAÇÕES<br />
        </td>
    </tr>
</table>

<table class="sembordas" style="margin-bottom:30px">
    <tr>
        <td style="text-align:center; font-size: 15pt"> RELATÓRIO DE PROPRIETÁRIOS </td>
    </tr>
</table>

<table class="sembordas" style="margin-top:20px;padding-top:10px; font-size:12pt">
    <tr style="text-align:center">
        <th>Proprietários</th>
    </tr>
</table>

<table class="sembordas">
    <tr>
        <td style="width: 180px; font-weight:bold">Quantidade de proprietários: @Model.TotalProprietarios</td>
    </tr>
</table>

<table style="margin-top:25px;">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Data de Nascimento	</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RelatorioProprietariosViewModel.Proprietario proprietario in @Model.Proprietarios)
        {
            <tr>
                <td>@proprietario.NomeProprietario</td>
                <td>@proprietario.CpfProprietario</td>
                <td>@proprietario.DataNascimento</td>
                <td>@proprietario.Telefone</td>
            </tr>
        }
    </tbody>
</table>
