@using Infracoes.Models.ViewModel.Dbo.Infracoes

@model RelatorioInfracoesViewModel

<style type="text/css">
    table {
        font-size: 10pt;
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 4px;
    }

        table thead {
            background-color: #b3d9ff;
            vertical-align: text-bottom;
        }

        table tbody {
            vertical-align: text-bottom;
        }

        table.sembordas,
        table.sembordas th,
        table.sembordas tr,
        table.sembordas td {
            border: 0px;
        }
</style>

<table style="margin-bottom:30px; text-align:center; font-weight:bold; border: 0px">
    <tr>
        <td style="border: 0px !important">
            SISTEMA DE GESTÃO DE INFRAÇÕES<br />
        </td>
    </tr>
</table>

<table class="sembordas" style="margin-bottom:30px">
    <tr>
        <td style="text-align:center; font-size: 15pt"> RELATÓRIO DE INFRAÇÕES </td>
    </tr>
</table>

<table class="sembordas" style="margin-top:20px;padding-top:10px; font-size:12pt">
    <tr style="text-align:center">
        <th>Infrações</th>
    </tr>
</table>

<table class="sembordas">
    <tr>
        <td style="width: 180px; font-weight:bold">Quantidade de infrações: @Model.TotalInfracoes</td>
    </tr>
</table>

<table style="margin-top:25px;">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Velocidade (Km/h)</th>
            <th>Veículo</th>
            <th>Agente (Matrícula)</th>
            <th>Local da Infração (Cep)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RelatorioInfracoesViewModel.Infracao infracao in @Model.Infracoes)
        {
            <tr>
                <td>@infracao.Descricao</td>
                <td>@infracao.Velocidade</td>
                <td>@infracao.Veiculo</td>
                <td>@infracao.Agente</td>
                <td>@infracao.Logradouro</td>
            </tr>
        }
    </tbody>
</table>
